div#HEADFILES

table
	thead 
		th Name
		th E-Mail
		th Password
		th License
	each itm in node.items
		tr
			td=itm.data.name
			td=itm.data.email
			td=itm.data.password
			td=itm.data.license

div#FILES
div#FOOTFILES
