h2 Overview
div.section
	h3 WAN
	img(class="largeimage", src="/network/subnets?itm=05_wan&res=01.svg")
div.section
	h3 GUEST
	img(class="largeimage", src="/network/subnets?itm=02_guest&res=01.svg")
div.section
	h3 LAN
	img(class="largeimage", src="/network/subnets?itm=01_lan&res=01.svg")
